<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AR Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Get Start with AR</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sponsored Ads  -->
  <ion-card class="advertisement">
    <ion-card-header>Sponsored Ads </ion-card-header>
    <ion-card-content>
      Here is the ad content.
    </ion-card-content>
  </ion-card>
  <ion-button (click)="startUnity()">Start Unity</ion-button>
</ion-content>
